* {
    margin: 0px;
}
body {
    font-family: VNI Aptima;
}
div{
    padding-left: 9px;
    padding-right: 9px;
}
a{
    color:blue;
}
ul{
    padding-left: 25px;
}
p {
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu{
    color: white;
    padding-right: 15px;
}
.container {
    display: grid;
    justify-content: center;
    align-content:start;
    grid-template-rows: 50px 50px 150px 150px auto 128px 50px;
    grid-template-columns: 250px 275px 275px;
}
.item1 {
    background-color: #626161; 
    grid-column: 1/4;
}
.item2 {
    background-color: #0303fd;
    grid-column: 1/4;
    padding-left: 50px;
    display: flex;
    height: 50px;
    align-items: center;
}
.item3{
    background-color: #ffff00;
    grid-area: 3/1/4/2;
}
.item4{
    background-color: #808080;
    grid-area: 4/1/5/2;
}
.item5 {
    background-color: #ffffff;
    grid-area: 3/2/6/4;
}
.item6 {
    background-color: #00ac38;
    grid-area: 6/2/7/3;
    display: flex;
    height: 128px;
    align-items: center;
}
.item7{
    background-color: #ff0000;
    grid-area: 6/3/7/4;
    display: flex;
    height: 128px;
    align-items: center;
}
.item8 {
    background-color: #0303fd;
    grid-area: 7/1/8/4;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}